<p>t_datetime, t_type_id, amount, category_id, account_id, note</p>
<input type='text' name='t_datetime' id='accounting_transaction_t_datetime' value='{{t_datetime}}'>
<input type='text' name='t_type_id' id='accounting_transaction_t_type_id' value='{{t_type_id}}'>
<input type='text' name='amount' id='accounting_transaction_amount' value='{{amount}}'>
<input type='text' name='category_id' id='accounting_transaction_category_id' value='{{category_id}}'>
<input type='text' name='account_id' id='accounting_transaction_account_id' value='{{account_id}}'>
<input type='text' name='note' id='accounting_transaction_note' value='{{note}}'>
<input id='accounting_transaction_save' type='submit' value='Save'>
