<ul class='selector'>
  <li><input type='text' id='t_datetime' value='{{t_datetime}}'></li>
  <li id='t_type_id'>{{t_type_id}}</li>
  <li><input type='text' id='amount' value='{{amount}}'></li>
  <li><input type='text' id='category_id' value='{{category_id}}'></li>
  <li><input type='text' id='account_id' value='{{account_id}}'></li>
  <li><input type='text' id='note' value='{{note}}'></li>
  <li><input id='save' type='submit' value='Save'></li>
  <li><input id='delete' type='submit' value='Delete'></li>
</ul>

