<ul class='selector'>
  <li><input type='text' id='accounting_transaction__date_time__{{id}}' value='{{date_time}}'></li>
  <li id='accounting_transaction__credit_debit_id__{{id}}' class='show_selector' data-selector_id='a_selector'>{{credit_debit_id}}</li>
  <li><input type='text' id='accounting_transaction__amount__{{id}}' value='{{amount}}'></li>
  <li><input type='text' id='accounting_transaction__category_id__{{id}}' value='{{category_id}}'></li>
  <li><input type='text' id='accounting_transaction__account_id__{{id}}' value='{{account_id}}'></li>
  <li><input type='text' id='accounting_transaction__note__{{id}}' value='{{note}}'></li>
  <li><input class='accounting_transaction__save' type='submit' value='Save'></li>
  <li><input class='accounting_transaction__delete' type='submit' value='Delete'></li>
</ul>

