{{#accounting_transaction}}
  <span class='accounting_transaction_item' data-id='{{id}}'>
    {{t_datetime}}, {{t_type_id}}, {{amount}}, {{category_id}}, {{account_id}}, {{note}} <input class='edit' type='submit' value='Edit'>
  </span>
{{/accounting_transaction}}
